<h1>socket.io</h1>
<canvas width="300" height="300" id="can"></canvas>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

// connect to server
var socket = io.connect();
var can,ctx;


// when connected
socket.on( 'connect', function(msg) {
	document.getElementById( "connectId" ).innerHTML = "your ID::" + socket.socket.sessionid;
	can = document.getElementById('can');
	ctx = can.getContext('2d');
	ctx.fillStyle = 'rgb(255,255,255)';
	ctx.fillRect(0,0,300,300);
	ctx.beginPath();
	ctx.moveTo(0, 0);
	ctx.lineTo(300, 0);
	ctx.lineTo(300, 300);
	ctx.lineTo(0, 300);
	ctx.closePath();
	ctx.stroke();
});

// when receive a message
socket.on( 'message', function(msg) {
	document.getElementById( "receiveMsg" ).insertChild( document.createTextNode( msg.name + ":"),document.getElementById( "receiveMsg" ));
	document.getElementById( "receiveMsg" ).insertChild( document.createTextNode( msg.msg  ),document.getElementById( "receiveMsg" ));
	document.getElementById( "receiveMsg" ).insertChild( document.createElement( "br" ),document.getElementById( "receiveMsg" ));
});

// message sending
function SendMsg() {
	var msg = new message(document.getElementById( "username" ).value,document.getElementById( "message" ).value);
	//console.log( msg );
	socket.emit( 'message', msg );
}

// disconect
function DisConnect() {
	socket.send(socket.socket.sessionid + " has been disconected.");
	socket.disconnect();
}

function message(name,msg){
	this.name = name;
	this.msg = msg
}

</script>
<div id="connectId"></div>
<input type="text" id="username" value="">
<input type="text" id="message" value="">
<input type="button" value="send" onclick="SendMsg()">
<input type="button" value="disconect" onclick="DisConnect()">
<div id="receiveMsg"></div>