<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

// connect to server
var socket = io.connect();

// when connected
socket.on( 'connect', function(msg) {
	document.getElementById( "connectId" ).innerHTML = "your ID::" + socket.socket.sessionid;
});

// when receive a message
socket.on( 'message', function(msg) {
	document.getElementById( "receiveMsg" ).appendChild( document.createTextNode( msg  ) );
	document.getElementById( "receiveMsg" ).appendChild( document.createElement( "br" ) );
});

// message sending
function SendMsg() {
	var msg = document.getElementById( "message" ).value;
console.log( msg );
	socket.emit( 'message', msg );
}

// disconect
function DisConnect() {
	socket.send(socket.socket.sessionid + " has been disconected.");
	socket.disconnect();
}
</script>
<h1>socket.io</h1>
<div id="connectId"></div>
<input type="text" id="message" value="">
<input type="button" value="send" onclick="SendMsg()">
<input type="button" value="disconect" onclick="DisConnect()">
<div id="receiveMsg"></div>
