<h1>socket.io</h1>
<canvas width="300" height="300" id="can"></canvas>	<!--メインキャンバス-->
<canvas width="30" height="30" id="pallet"></canvas><!--選択中のカラー-->
<input type="text" readonly="readonly" value=" 5px" size="3" id="px"></input><!--ペンの太さ表示-->
<br>
<input type="button" value="3px" onclick="rad=3;document.getElementById('px').value=' 3px';">	<!--ペンの太さ変更3px-->
<input type="button" value="5px" onclick="rad=5;document.getElementById('px').value=' 5px';">	<!--ペンの太さ変更5px-->
<input type="button" value="10px" onclick="rad=10;document.getElementById('px').value='10px';">	<!--ペンの太さ変更10px-->
<input type="button" value="15px" onclick="rad=15;document.getElementById('px').value='15px';">	<!--ペンの太さ変更15px-->
<input type="button" value="clear" onclick="ctx.fillStyle = currentcolor;ctx.fillRect(0,0,300,300);">	<!--選択中の色でキャンバスをクリア-->
<br>
<canvas width="30" height="30" id="pallet1" onclick="currentcolor=white;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<canvas width="30" height="30" id="pallet2" onclick="currentcolor=black;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<canvas width="30" height="30" id="pallet3" onclick="currentcolor=red;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<canvas width="30" height="30" id="pallet4" onclick="currentcolor=green;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<canvas width="30" height="30" id="pallet5" onclick="currentcolor=blue;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<canvas width="30" height="30" id="pallet6" onclick="currentcolor=yellow;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<canvas width="30" height="30" id="pallet7" onclick="currentcolor=cyan;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<canvas width="30" height="30" id="pallet8" onclick="currentcolor=magenta;palletctx.fillStyle = currentcolor;palletctx.fillRect(0,0,30,30);"></canvas>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

// connect to server
var socket = io.connect();
var can,ctx,pallet,palletctx;
var mouse_condition = false;	//マウスのクリック状態
var rad = 5;					//ペンの太さ
var messagecount = 1;			//メッセージ数
var currentcolor = "#000000";	//初期カラー
var red		= "#FF0000",		//赤
    green	= "#00FF00",		//緑
	blue	= "#0000FF",		//青
	black	= "#000000",		//黒
	white	= "#FFFFFF",		//白
	yellow	= "#FFFF00",		//黄色
	cyan	= "#00FFFF",		//シアン
	magenta	= "#FF00FF";		//マゼンタ

can = document.getElementById('can');
ctx = can.getContext('2d');
document.getElementById("px").value=" 5px";


// when connected
socket.on( 'connect', function(msg) {
	document.getElementById( "connectId" ).innerHTML = "your ID::" + socket.socket.sessionid;
	ctx.fillStyle = 'rgb(255,255,255)';
	ctx.fillRect(0,0,300,300);

	//パレットの描画
	/*白パレット*/
	pallet = document.getElementById('pallet1');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = white;
	palletctx.fillRect(0,0,30,30);
	/*黒パレット*/
	pallet = document.getElementById('pallet2');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = black;
	palletctx.fillRect(0,0,30,30);
	/*赤パレット*/
	pallet = document.getElementById('pallet3');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = red;
	palletctx.fillRect(0,0,30,30);
	/*緑パレット*/
	pallet = document.getElementById('pallet4');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = green;
	palletctx.fillRect(0,0,30,30);
	/*青パレット*/
	pallet = document.getElementById('pallet5');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = blue;
	palletctx.fillRect(0,0,30,30);
	/*黄パレット*/
	pallet = document.getElementById('pallet6');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = yellow;
	palletctx.fillRect(0,0,30,30);
	/*シアンパレット*/
	pallet = document.getElementById('pallet7');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = cyan;
	palletctx.fillRect(0,0,30,30);
	/*マゼンタパレット*/
	pallet = document.getElementById('pallet8');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = magenta;
	palletctx.fillRect(0,0,30,30);
	/*選択中のカラーパレット*/
	pallet = document.getElementById('pallet');
	palletctx = pallet.getContext('2d');
	palletctx.fillStyle = currentcolor;
	palletctx.fillRect(0,0,30,30);
});

// when receive a message
socket.on( 'message', function(msg) {
	var div = document.createElement("div");
	var DD = new Date();
	var canvas;
	var newctx;
	var image;
	var str = String(msg.pic);
	var strarray = str.split(",")
	
	if(msg.pic != null){
		canvas = document.createElement("canvas");
		canvas.width = 300;
		canvas.height = 300;
		newctx = canvas.getContext('2d');
		image = newctx.createImageData(300,300);
		for(var i=0;i<300*300*4;i++){
			var tmp = strarray[i].split(":");
			image.data[i] = tmp[1];
		}
		newctx.putImageData(image,0,0);
	}

	div.appendChild(document.createTextNode(messagecount + ": "));
	messagecount++;
	div.appendChild(document.createTextNode(msg.name + "     "));
	div.appendChild(document.createTextNode(DD.getFullYear() + "/" + DD.getMonth()+1 + "/" + DD.getDate() + "  " + DD.getHours() + ":" + DD.getMinutes() + ":" + DD.getSeconds()));
	div.appendChild(document.createTextNode("     ID: " + msg.id));
	div.appendChild(document.createElement( "br" ));
	div.appendChild(document.createElement( "br" ));
	div.appendChild(document.createTextNode(msg.msg));
	div.appendChild(document.createElement( "br" ));
	div.appendChild(document.createElement( "br" ));

	if(msg.pic != null){
		div.appendChild(canvas);
		div.appendChild(document.createElement( "br" ));
		div.appendChild(document.createElement( "br" ));
	}

	document.getElementById("receiveMsg").insertBefore(div,document.getElementById("receiveMsg").firstChild);

});

// message sending
function SendMsg() {
	var msg = new message(document.getElementById( "username" ).value,document.getElementById( "message" ).value,socket.socket.sessionid,null);
	console.log( msg );
	socket.emit( 'message', msg );
}
// picture sending
function SendPic() {
	var msg = new message(document.getElementById( "username" ).value,document.getElementById( "message" ).value,socket.socket.sessionid,ctx.getImageData(0,0,300,300));
	//console.log( msg );
	socket.emit( 'message', msg );
	ctx.fillStyle = 'rgb(255,255,255)';
	ctx.fillRect(0,0,300,300);
}

// disconect
function DisConnect() {
	socket.send(socket.socket.sessionid + " has been disconected.");
	socket.disconnect();
}

function message(name,msg,id,pic){
	this.name = name;
	this.msg = msg;
	this.id = id;
	if(pic != null)
		this.pic = JSON.stringify(pic.data);
	else
		this.pic = null;
}
window.addEventListener( 'load', function() {
	
	can.addEventListener( 'mousemove', function(e) {
		if( mouse_condition) {
			var rect = e.target.getBoundingClientRect();
			var mex = e.clientX - rect.left;
			var mey = e.clientY - rect.top;
			ctx.fillStyle = currentcolor;
			ctx.beginPath();
			ctx.arc( mex, mey, rad, 0, Math.PI*2, false );
			ctx.fill();
		}
	});

	can.addEventListener( 'mousedown', function(e) {
		mouse_condition = true;
		var rect = e.target.getBoundingClientRect();
		var mex = e.clientX - rect.left;
		var mey = e.clientY - rect.top;
		ctx.fillStyle = currentcolor;
		ctx.beginPath();
		ctx.arc( mex, mey, rad, 0, Math.PI*2, false );
		ctx.fill();
	});

	can.addEventListener( 'mouseup', function(e) {
		mouse_condition = false;
	});
});
</script>
<div id="connectId"></div>
<input type="text" id="username" value="name">
<br>
<textarea id="message" cols="100" rows="6" value=""></textarea>
<input type="button" value="send" onclick="SendMsg()">
<input type="button" value="sendpicture" onclick="SendPic()">
<input type="button" value="disconect" onclick="DisConnect()">
<div id="receiveMsg"></div>